<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Sreenu - Authors</title>
</head>
<body>
	<h1>Authors List</h1>
	<div class="table-responsive">
		<table border="1" class="table-dark table-striped">
			<tr>
				<th>ID</th>
				<th>Author</th>
				<th>Books</th>
				<th>Rating</th>
			</tr>
			<tr th:each="author : ${authors}">
				<td th:text="${author.authorId}">123</td>
				<td th:text="${author.firstName} + ', ' + ${author.lastName}">John,
					Thompson</td>
				<td th:text="${author.books}">Spring Guru</td>
				<td th:text="${author.rating}">4</td>
			</tr>
		</table>
	</div>
</body>
</html>